{{#if hasItems}}
{{#each buttons}}
  <button class="jay-macros-filter-button {{#if isActive}}active{{/if}} {{#if isDisabled}}disabled{{/if}}"
          data-filter="{{filterId}}"
          {{#if isDisabled}}disabled{{/if}}>
    <i class="{{icon}}"></i>
    <span>{{label}}</span>
    {{#if count}}
      <span class="count">({{count}})</span>
    {{/if}}
  </button>
{{/each}}
{{/if}}
